@import "tailwindcss";

@theme {
  --breakpoint-xs: 425px;
  --breakpoint-xxs: 375px;
}

@layer utilities {
  .font-SfProDisplay-regular {
    font-family: var(--font-SfProDisplay);
    font-weight: 400;
  }

  .font-SfProDisplay-medium {
    font-family: var(--font-SfProDisplay);
    font-weight: 500;
  }

  .font-SfProDisplay-semibold {
    font-family: var(--font-SfProDisplay);
    font-weight: 600;
  }

  .font-SfProDisplay-bold {
    font-family: var(--font-SfProDisplay);
    font-weight: 700;
  }
}

@layer utilities {
  /* Red Gradient */
  .bg-gradient-red {
    background-image: linear-gradient(
      var(--gradient-direction, to right),
      #ff6b66,
      #ffffff
    );
  }

  /* Dark Gray Gradient */
  .bg-gradient-dark {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #3c4449,
      #09090a
    );
  }

  /* Blue Gradient */
  .bg-gradient-blue {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #3a73c3,
      #134589
    );
  }

  /* Orange Gradient */
  .bg-gradient-orange {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #eba340,
      #a66102
    );
  }

  /* Sky Blue Gradient */
  .bg-gradient-sky {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #20beff,
      #1d607b
    );
  }

  /* Pink Gradient */
  .bg-gradient-pink {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #ee2a7b,
      #70002e
    );
  }

  /* Indigo Gradient */
  .bg-gradient-indigo {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #0f3eff,
      #000e45
    );
  }
  /* Indigo Gradient */
  .bg-gradient-lightgrey {
    background-image: linear-gradient(
      var(--gradient-direction, to bottom right),
      #fff3f7,
      #ffffff
    );
  }

  .text-gradient-gray {
    background: linear-gradient(to right, #5e6e7a, #7a8c99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For Firefox */
    color: transparent;
  }
}
